// PatternFly 4 font path. (served from public/fonts)
$pf-global--font-path: 'fonts';
$fa-font-path: 'fonts/webfonts';

@import '~@patternfly/patternfly/patternfly-base.scss';
@import '~@patternfly/patternfly/components/Page/page.scss';
