@import '../base/base.scss';

// testing host styles
:host(#{$pf--prefix}-page) {
  @import '@patternfly/patternfly/components/Page/page.scss';
}

:host(#{$pf--prefix}-page-header) {
  @import '@patternfly/patternfly/components/Page/page.scss';
}

:host(#{$pf--prefix}-page-header-brand) {
  @import '@patternfly/patternfly/components/Page/page.scss';
}

:host(#{$pf--prefix}-page-header-brand-toggle) {
  @import '@patternfly/patternfly/components/Page/page.scss';
}

:host(#{$pf--prefix}-page-header-brand-link) {
  @import '@patternfly/patternfly/components/Page/page.scss';
}

:host(#{$pf--prefix}-page-header-tools) {
  @import '@patternfly/patternfly/components/Page/page.scss';
}
